{
	"env": {
		"es2024": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"jsxFragmentName": "Fragment",
		"jsxPragma": "createElement",
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"@typescript-eslint/no-non-null-assertion": "off",
		"no-empty": [
			"error",
			{
				"allowEmptyCatch": true
			}
		],
		"react/prop-types": "off"
	},
	"settings": {
		"react": {
			"fragment": "Fragment",
			"pragma": "createElement",
			"version": "detect"
		}
	}
}
